:global nav {
    display: none;
}

:global(body) {
    width: 100dvw;
    height: 100dvh;
    color: white;
    overflow-x: hidden;
    margin: 0;
    &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-size: cover;
        background-position: center bottom;
        z-index: -1;
        pointer-events: none;
        transition: all .3s ease;
    }
    &:before {
        background-image: url('/assets/images/background-home-animated.webp');
        right: 100%;
    }
    &:after {
        background-image: url('/assets/images/background-pages-animated.webp');
        left: 0;
    }
    &:has(.how-to) {
        &:before {
            right: 0;
        }
        &:after {
            left: 100%;
        }
    }
}

.page {
    padding: var(--spacer-large);
    .title {
        span {
            font-family: "Pacifico", cursive;
            font-weight: 400;
            background: linear-gradient(to right, var(--primary), var(--secondary));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            filter: drop-shadow(0 0 10px var(--secondary));
        }
        i {
            margin-left: var(--spacer-small);
            svg {
                fill: white
            }
        }
    }
}