@use '../../styles/colors.scss';
@use '../../styles/variables.scss';
@use '../../styles/media-queries.scss' as *;

/* ======== ECRAN COMPLET =========*/
:global(body) {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  background-image: url('/assets/images/background-pages.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

:global(nav) {
  display: none;
}



/* ======== HEADER =========*/

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 30px 0 0 0;
  padding: 0 var(--spacer-medium);
}

.numbers {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 var(--spacer-medium);
  margin: 6px 0 0 0;
}

/* ======== FOOTER TEMPORAIRE =========*/

.temp-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
}
