:root {
    --primary: #FF9A3C;
    --primary-light: color-mix(in srgb, var(--primary) 80%, white);
    --primary-dark: color-mix(in srgb, var(--primary) 80%, black);

    --secondary: #FF4DB6;
    --tertiary: #00E5D4;

    --background: #080E1A;
    --background2: #1A1033;

    --done: #34F39D;

    --grey-light: #cecece;
    --grey-medium: #858585;
}
