@use '../../styles/components' as *;

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacer-small);

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        border-radius: var(--radius);
        border: 1px solid var(--white-alpha);
        @extend .simple-glassmorphism;
        padding: var(--spacer-small);

        .full {
            grid-column: span 2;
        }
    
        .type {
            color: var(--white-alpha);
        }
    }


    .property {
        font-size: .9rem;
    }
    .tags-box {
        grid-column: span 2;
        margin: var(--spacer-small) 0;
        margin-bottom: var(--spacer-large);
        .type-tags{
            text-align: center;
        }
            .tags-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3px;
            margin-top: var(--spacer-small);
            
            li {
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: none;
                border-radius: 8px;
                padding: 2px 8px;
                margin: 0;
                display: inline-block;
                font-size: 0.85rem;
            }
        }
    }
}