.cocktail-card {
    font-family: poppins;

    h1 {
        font-family: pacifico;
    }

    img
    {
        &.favheart {
        width: 30px;
        }
        &.cocktail-img{
            width: 300px;
        }
        &.ingredient-img{
            width: 50px;
    }}
}