@use '../../styles/components' as *;

.suggestion {
    display: flex;
    align-items: center;
    gap: var(--spacer-medium);
    width: 100%;
    min-height: 64px;
    border: 1px solid currentColor;
    border-radius: var(--radius);
    padding: var(--spacer-small) 15px var(--spacer-small);
    @extend .full-glassmorphism;
    box-shadow: 0 0 10px 0 color-mix(in srgb, currentColor 30%, black) !important;

    &:global:not(.status-green) {
        div {
            span {
                &:before {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: currentColor;
                    margin-right: var(--spacer-small);
                }
            }
        }
    }

    > img {
        width: 50px;
        border-radius: var(--radius);
        overflow: hidden;
    }

    > div {

        h5 {
            font-size: 1rem;
            font-weight: 600;
            color: white;
        }

        span {
            display: flex;
            align-items: center;
            font-size: .8rem;
            font-weight: 600;
            .checkmark {
                line-height: 0;
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    path {
                        stroke: var(--done);
                        fill: var(--done);
                        stroke-width: 1px;
                    }
                }
            }
        }  

    }

    > button {
        background: none;
        border: none;
        margin-left: auto;
        i {
            display: flex;
            svg  {
                width: 1.5rem;
                height: 1.5rem;
                path {
                    fill: var(--grey-light);
                }
            }
        }
    }
}