@use '../../styles/animations' as *;
@use '../../styles/components' as *;

.ingredients {
    position: sticky;
    top: 90px;
    margin-bottom: var(--spacer-small);
    z-index: 10;
    .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .clear {
            display: flex;
            gap: 5px;
            background: none;
            border: none;
            font-size: .8rem;
            color: var(--secondary-light);
            margin-top: 3px;
            svg {
                width: .9rem;
                path {
                    stroke: var(--secondary-light) !important;
                    stroke-width: 40 !important;
                }
            }
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        &.sticky {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow-x: auto;
            transition: all .3s ease;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        li {
            display: flex;
            gap: var(--spacer-small);
            border-radius: 30px;
            font-size: .7rem;
            font-weight: 600;
            padding: 6px 12px;
            @extend .simple-glassmorphism;
            scale: 0;
            animation: popin .5s ease 1 forwards;
            button {
                background: none;
                border: none;
                line-height: 0;
                svg path {
                    stroke: var(--tertiary);
                    stroke-width: 2px;
                    fill: var(--tertiary);
                }
            }
        }
    }
}